@use "sass:map";
@use "minima/custom-variables" as *;

@charset "utf-8";

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

@mixin media-query($device) {
    @if map.has-key($breakpoints, $device) {
        @media screen and (min-width: map-get($breakpoints, $device)) {
            @content;
        }
    }
}

%vertical-rhythm {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
